.alert-erreur { 
	background-color: #fbe3e4; 
	color: #8a1f11; 
	padding: .2em;
}

.axis path,
.axis line {
  	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
}

.x.axis path {
  	display: none;
}

.line {
  	fill: none;
  	stroke: steelblue;
  	stroke-width: 1.5px;
}

